.body-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "main main"
        "main main"
        "main main"
        "main main"
        "footer footer";
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {

    display: grid;
    justify-content: center;
    background: rgb(125, 171, 218);
    background: linear-gradient(90deg, rgba(125, 171, 218, 1) 0%, rgba(40, 150, 237, 1) 45%, rgba(107, 176, 230, 1) 90%);
    background-color: repeat;

    background-size: 300%;
    grid-area: header;
}

.main {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-gap: 1rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(205, 238, 255, 1) 100%);
    grid-area: main;
    /* display: grid; */
}

.form-container {
    border: black solid 1px;
}

.display-header {
    grid-area: header;
    text-align: center;
    font-size: 14;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.form {

    padding-top: 1rem;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.form input[type=image] {
    width: 1.3rem;
    background: rgb(11, 122, 177);
    background: radial-gradient(circle, rgba(11, 122, 177, 1) 0%, rgba(13, 124, 181, 0.9) 95%, rgba(18, 174, 254, 0.01) 100%);
    border-radius: 75px;
}

.form input[type=image]:hover {
    transform: scale(1.1);
    background: rgb(1, 143, 214);
    background: radial-gradient(circle, rgba(1, 143, 214, 1) 0%, rgba(92, 192, 243, 0.9) 95%, rgba(18, 174, 254, 0.01) 100%);
}

.form input {
    border-radius: 75px;
    border: solid black 1px;
    width: 7.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(100, 199, 248);
    align-self: center;
    margin: 0.5rem;
    padding: 10px;
    text-align: left;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);

}

.footer {
    display: grid;
    justify-content: center;
    align-content: center;
    background: rgb(43, 134, 178);
    background: linear-gradient(236deg, rgba(43, 134, 178, 1) 0%, rgba(170, 213, 234, 1) 51%, rgba(53, 131, 169, 1) 100%);
    grid-area: footer;
}

.btn {
    align-self: center;
    justify-self: center;
}